body{
  background: black;
  position: fixed;
  width: 100vw;
  height: 100vh;
  font-family: 'Lilita One', cursive;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.container{
  position: relative;
  z-index: -1;
}

.fondOrange{
  margin-top: -12%;
  margin-left: 26%;
  width: 550px;
  height: 220px;
  border-top: 200px solid #e58356;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
}

.subTitle h3{
  z-index: 3;
  font-size: 30px;
  margin-top: -370px;
  animation: textDisparaît 4s infinite ease;
}


.title{
  z-index: 3;
  font-size: 57px;
  margin-top: -100px;
}

h1{
  color: white;
}


.description{
  display: flex;
  justify-content:center;
  animation: afficheDescription 3s;
  margin-top: 7%;
}

.paragraphe{
  width: 390px;
  font-size: 23px;
  border: 2px solid white;
  border-radius: 20px;
  padding: 1%;
  margin-right: 4%;
  font-style: normal;
}

span{
  color: #fbb84d;
}

#fusil{
  color: red;
}

.gif{
  margin-left: 4%;
}

.buttonNext{
  margin: 0 auto;
  margin-top: 6%;
  border: 4px solid #fbb84d;
  width : 150px;
  height: 50px;
  background-color: black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 1s;
  animation: cliqueIci 1.6s infinite ease;
  z-index: 3;
}

.buttonNext:hover{
  background-color: white;
}

a:hover{
  color: black;
}

a{
  text-decoration: none;
  transition-property: color;
  transition-duration: 1s;
  animation: textDisparaît 1.6s infinite ease;
}

.illustrationsHaut{
  display: flex;
  width: 100%;
  margin-left: -15%;
  margin-top: -4%;
  animation: ventHaut 8s infinite ease;
}

.illustrationsHaut img{
  flex-direction: row;
  opacity: 0.7;
}



.illustrationsBas {
  display: flex;
  width: 100%;
  animation: ventBas 8s infinite ease;
}

.illustrationsBas img{
  flex-direction: row;
  opacity: 0.5;
}


.subTitle, .title, .description, .buttonNext{
  color: white;
  text-align: center;
}

@keyframes title {
  0%{
    transform: opacity(0.5)
  }
  50%{
    transform: opacity(1)
  }
  100%{
    transform: opacity(0.5)
  }
}

@keyframes textDisparaît {
  0%, 100%{
    color: black;
  }
  50%{
    color: #e58356;
  }
}



@keyframes cliqueIci {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}


@keyframes ventHaut {
  0%{
    transform: translateX(100px);
  }
  50%{
    transform: translateX(0px);
  }
  100%{
    transform: translateX(100px);
  }
}



@keyframes ventBas {
  0%{
    transform: translateX(-100px);
  }
  50%{
    transform: translateX(0px);
  }
  100%{
    transform: translateX(-100px);
  }
}
