body{
  background: black;
  position: fixed;
  width: 100vw;
  height: 100vh;
  font-family: 'Lilita One', cursive;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.container{
  position: relative;
  top: -8%;
}


.subTitle h3{
  font-size: 25px;
  color: #fcff5e;
}


.title{
  font-size: 60px;
  margin-top: -80px;
}

.description{
  display: flex;
  justify-content:center;
  margin-top: -40px;
}

.paragraphe{
  width: 390px;
  font-size: 23px;
  border: 2px solid white;
  border-radius: 20px;
  padding: 1%;
  margin-right: 4%;
  font-style: normal;
}

span{
  color: #fcff5e;
}

.gif{
  margin-left: 4%;
}

.buttonNext{
  margin: 0 auto;
  margin-top: 3%;
  border: 4px solid #fcff5e;
  width : 150px;
  height: 50px;
  background-color: black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  animation: cliqueIci 1.6s infinite ease-out;
  z-index: 3;
}

.buttonNext:hover{
  background-color: white;
}

a:hover{
  color: black;
}

a{
  color: white;
  text-decoration: none;
}

.illustrationsHaut{
  display: flex;
  width: 100%;
  margin-left: -15%;
  margin-top: -3%;
  animation: ventHaut 8s infinite ease;
}

.illustrationsHaut img{
  flex-direction: row;
  opacity: 0.5;
}



.illustrationsBas {
  display: flex;
  width: 100%;
  margin-top: -4%;
  animation: ventBas 8s infinite ease;
}

.illustrationsBas img{
  flex-direction: row;
  opacity: 0.5;
}


.subTitle, .title, .description, .buttonNext{
  color: white;
  text-align: center;
}


@keyframes cliqueIci {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.2);
  }
  100{
    transform: scale(1);
  }
}

@keyframes ventHaut {
  0%{
    transform: translateX(100px);
  }
  50%{
    transform: translateX(0px);
  }
  100%{
    transform: translateX(100px);
  }
}



@keyframes ventBas {
  0%{
    transform: translateX(-100px);
  }
  50%{
    transform: translateX(0px);
  }
  100%{
    transform: translateX(-100px);
  }
}
