body{
  width : 100vw;
  height: 100vh;
  overflow: hidden;
}

#background{
  width: 100%;
  height: 100%;
}

#antilope{
  opacity: 1;
  transition: all 1s;
  width : 25%;
  height: auto;
  position: absolute;
  bottom : 5%;
  right : 4%;
}

#lionroi{
  opacity: 1;
  transition: all 1s;
  width : 10%;
  height: auto;
  position: absolute;
  bottom : 0%;
  right : 55%;
}

#lionennemi{
  opacity: 1;
  transition: all 1s;
  width :  25%;
  height: auto;
  position: absolute;
  bottom : 0%;
  right : 25%;
}

#lionnes{
  opacity: 1;
  transition: all 1s;
  width :  30%;
  height: auto;
  position: absolute;
  bottom : 0%;
  right : 65%;
  z-index: 4;
}

#herbe{
  width: 100%;
  height: 15%;
  position: absolute;
  bottom : 0%;
  right : 0%;
  z-index: 100;
}

#text1{
  animation-delay: 1.5s;
}

.textDefile{
  position: absolute;
  width : 60%;
  left : 5%;
  color : #fff;
  opacity: 0;
  text-shadow: 1px 1px 5px #000;
}

.animationDefile{
  animation: animationDefile 1.2s;
  animation-fill-mode: forwards;
}

@keyframes animationDefile {
  0%{
    bottom : 72%;;
    opacity: 0;
  }
  100%{
    bottom : 80%;
    opacity: 1;
  }
}

.indicationsContainer{
  position: absolute;
  bottom : 70%;
  left : 20%;
  width : 30%;
  height: 7%;
  background-color: white;
  transition: all 4s;
  display: none;
  justify-content: center;
  align-items: center;
  animation: indicationsOpacity .5s;
  animation-fill-mode: forwards;
}
.indicationsContainer h2{
  font-size: 18px;
  color : black;
}

@keyframes indicationsOpacity {
  from{
    opacity: 0;
  }
  to{
    opacity: .6;
  }
}

#soundButton{
  cursor: pointer;
  position: absolute;
  z-index: 200;
  bottom : 5%;
  right : 5%;
}
#soundButton img{
  width : 50px;
  height: 50px;
}

.audioOff{
  position: absolute;
 bottom : 50%;
  transform: rotate(-45deg);
  width : 50px;
  height: 5px;
  background-color: red;
  display: block;
  opacity: .7;
}



*{
  padding: 0;
  margin: 0;
}
