body{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  cursor:url('../images/viseur.png'), pointer;
}

/* ERROR SCREEN */

.errorScreen{
  display: none;
  width: 100%;
  height: 100%;
  background-color: yellow;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.errorScreen img{
  width : 50%;
  height: auto;
}

.errorScreen h1{
  text-align: center;
  margin-top: 100px;
  font-size: 50px;
}

@media screen and (orientation:portrait) {
  .errorScreen{
    display: flex;
  }
}


/* START SCREEN */

.startScreen{
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  position: absolute;
}

.startScreen h1{
  font-size: 28px;
  color : white;
  margin: 20px 130px;
  text-align: center;
}

.buttonStart{
  width : 150px;
  height: 50px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.buttonStart h2{
  color : black;
  font-size: 20px;
}

/* PLAYER SCREEN */

.munitionsContainer{
  position: absolute;
  width: 30%;
  height: 10%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: .8;
  bottom : 0%;
  left : 0%;
  z-index: 70;
}

.munitionsContainer img{
  width : auto;
  height: 80%;
}

.empty{
  display: none;
}

.zoneTir{
  width: 100%;
  height: 100%;
  z-index: 50;
  position: absolute;
  bottom : 0%;
  right : 0%;
}

.argentJoueur{
  position:absolute;
  top : 0%;
  left : 0%;
  width : 30%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 70;
  background-color: white;
  opacity: .8;
}

.argentJoueur>img{
  width : 40px;
  height: 40px;
  margin-left: 20px;
}

/* ANIMALS */

.animationMoving{
  animation: animationMoving 20s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

#elephantContainer{
  position: absolute;
  width : 50%;
  height: 50%;
  bottom : -5%;
  z-index: 60;
}

#elephant{
  width : 60%;
  height: auto;
}

#elephantMort{
  width : 60%;
  height: auto;
  display: none;
}

#oiseauContainer{
  position: absolute;
  width : 10%;
  height: 10%;
  top : 15%;
  left : -40%;
  z-index: 60;
}

#oiseau{
  width : 100%;
  height: auto;
}

#oiseauMort{
  width : 30%;
  height: auto;
  display: none;
}

.animationMortTombe{
  animation: oiseauMortTombe .8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.68, 0.02, 1, 1.01);
}

@keyframes oiseauMortTombe {
  from{
    top : 15%;
  }
  to{
    top : 80%;
  }
}

#singeContainer{
  position: absolute;
  width : 10%;
  height: 10%;
  bottom : 35%;
  left : 10%;
  z-index: 57;
  animation-delay: 2s;
  animation-name: balance;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  transform-origin: top right;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes balance {
  0%{
    transform: rotateZ(0deg);
  }
  25%{
    transform: rotateZ(20deg);
  }
  75%{
    transform: rotateZ(-40deg);
  }
  100%{
    transform: rotateZ(0deg);
  }
}

#singe{
  width : 100%;
  height: auto;
}

#singeMort{
  width : 100%;
  height: auto;
  display: none;
}

#lionContainer{
  display: none;
  position: absolute;
  width : 50%;
  height: 50%;
  bottom : -5%;
  z-index: 59;
  animation-direction: reverse;
}

#lion{
  width : 60%;
  height: auto;
}

#lionMort{
  width : 60%;
  height: auto;
  display: none;
  transform: rotateX(180deg);
}

#suricateContainer{
  position: absolute;
  width : 10%;
  height: 10%;
  bottom : 10%;
  right : 10%;
  z-index: 69;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#terrier{
  position: absolute;
  width: 100%;
  height: auto;
  animation-delay: 2s;
}

#suricate{
  display: none;
  position: absolute;
  width : 100%;
  height: auto;
}

#suricateMort{
  width : 100%;
  height: auto;
  display: none;
}

.primeContainer{
  width : 30%;
  margin: 0 auto;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.primeContainer>h4{
  color : white;
}

.primeContainer>img{
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

@keyframes animationMoving {
  from{
    left : -60%;
  }
  to{
    left : 110%;
  }
}

/* SAVANE */

.backgroundSavaneContainer{
  width: 100%;
  height: 100%;
  position: relative;
}

.backgroundSavane{
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #e58356,#fbb84d);
}

#nuages{
  position: absolute;
  width : 100%;
  height: auto;
  top : 0%;
  z-index: 1;
}

#colline{
  position: absolute;
  width : auto;
  height: 80%;
  right : 0%;
  bottom : 0%;
  z-index: 2;
  animation-delay: 0.4s;
}

#ground{
  position: absolute;
  width : 100%;
  height: auto;
  bottom : 0%;
  z-index: 3;
  animation-delay: 0.8s;
}

#arbre{
  position: absolute;
  width: auto;
  height: 70%;
  bottom : 0%;
  left : 5%;
  z-index: 40;
  animation-delay: 1.2s;
}

#herbe{
  position: absolute;
  width: 35%;
  height: auto;
  bottom : 0%;
  left : 0%;
  z-index: 50;
  animation-delay: 1.6s;
}

.animationPop{
  animation: animationPop 1.5s;
  animation-fill-mode: forwards;
  transform:rotateX(90deg);
  animation-timing-function: cubic-bezier(0, 1, 1, 1.50);
}

@keyframes animationPop{
  from{
    transform:rotateX(90deg);
  }
  to{
    transform:rotateX(0deg);
  }
}

.animationDepop{
  animation: animationDepop 1.5s;
  animation-fill-mode: forwards;
  transform:rotateX(0deg);
  animation-timing-function : ease-in;
}

@keyframes animationDepop{
  from{
    transform:rotateX(0deg);
  }
  to{
    transform:rotateX(90deg);
  }
}

/* FERME */

.backgroundFermeContainer{
  display: none;
  width: 100%;
  height: 100%;
  position: relative;
}

.backgroundFerme{
  width: 100%;
  height: 100%;
  background: linear-gradient(#97D6FF,white);
}

#nuages{
  position: absolute;
  width : 100%;
  height: auto;
  top : 0%;
  z-index: 1;
}

#ground{
  position: absolute;
  width : 100%;
  height: auto;
  bottom : 0%;
  z-index: 2;
  animation-delay: 0.5s;
}

#barriere{
  position: absolute;
  width : auto;
  height: 10%;
  right : 50%;
  bottom : 25%;
  z-index: 3;
  animation-delay: 1s;
}

#grange{
  position: absolute;
  width: auto;
  height: 40%;
  bottom : 20%;
  left : 10%;
  z-index: 4;
  animation-delay: 1.4s;
}

#arbres{
  position: absolute;
  width: 25%;
  height: auto;
  bottom : 0%;
  left : 0%;
  z-index: 5;
  animation-delay: 1.9s;
}

*{
  margin:0px;
  padding: 0px;
}
